.social-icons {
  position: absolute;
  top: 6vh;
  right: 1rem;
  display: flex;
  gap: 0.75rem;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.social-icons.stacked {
  position: fixed;
  flex-direction: column;
  top: 80vh;
  right: 2vw;
}

.social-icons.final {
  top: 67vh;
  right: 13.5vw;
}

.social-icons a {
  color: #444;
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #0070f3;
}
